<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="connstr" connectionString="Data Source = ASUSPRO\MSSQL; Database = MIRKOERP; User ID = sa; Password = qwerty123;" />
    <!--<add name="S4M.Properties.Settings.MIRKOERPConnectionString"
      connectionString="Data Source=ASUSPRO\MSSQL;Initial Catalog=MIRKOERP;Persist Security Info=True;User ID=sa;Password=qwerty123"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>





using System;
using System.Data.SqlClient;
using System.Data;

class Program
{
static void Main()
{
Console.WriteLine("Podaj numer wuzetki:");
string numerWuzetki = Console.ReadLine();

string connectionString = "Server=TwojSerwerSQL;Database=TwojaBazaDanych;User=TwojUzytkownik;Password=TwojeHaslo;";

using (SqlConnection connection = new SqlConnection(connectionString))
{
connection.Open();

string query = "SELECT * FROM Faktury WHERE NumerWuzetki LIKE @NumerWuzetki";

using (SqlCommand command = new SqlCommand(query, connection))
{
command.Parameters.AddWithValue("@NumerWuzetki", "%" + numerWuzetki + "%");

using (SqlDataReader reader = command.ExecuteReader())
{
while (reader.Read())
{
Console.WriteLine($"ID: {reader["ID"]}, Numer Wuzetki: {reader["NumerWuzetki"]}, Kwota: {reader["Kwota"]}");
}}}}}}
